@import "tailwindcss";

@theme {
  /* брейкпоінти */
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 1024px;
  --breakpoint-pc: 1920px;

  /* Реєстрація кольорів як Tailwind-класів */
  --color-page-bg: var(--page-bg);
  --color-header-bg: var(--header-bg);
  --color-header-border: var(--header-border);
  --color-footer-bg: var(--footer-bg);
  --color-block-bg: var(--block-bg);
  --color-card-bg: var(--card-bg);
  --color-card-border: var(--card-border);
  
  --color-icon-dim: var(--theme-icon-dim);
  --color-text-main: var(--theme-text);

  --color-btn-bg: #6D28D9;
  --color-btn-text: #FFFFFF;
  --color-icon-active: #6D28D9;
  --color-accent-yellow: #FFCF00;
  --color-success: #14E914;
  --color-error: #FF090B;
  --color-old-price: #4E4E4E;
}

:root {
  /* Світла тема */
  --page-bg: #F2F2F2;
  --header-bg: #FFFFFF;
  --header-border: #E5E7EB;
  --footer-bg: #FFFFFF;
  --block-bg: #FFFFFF;
  --card-bg: #FFFFFF;
  --card-border: #E5E7EB;
  
  /* Текстові кольори для світлої теми */
  --theme-text: #1E2128; /* Чорний текст для заголовків */
  --theme-icon-dim: #4E525C; /* Темно-сірий текст для опису */
  --theme-transition: 0s; /* Спочатку анімація вимкнена */
  --font-inter: 'Inter', sans-serif;
  
  --font-inter: 'Inter', sans-serif;
}

[data-theme='dark'] {
  /* Темна тема  */
  --page-bg: #0E0F12;
  --header-bg: #101217;
  --header-border: #23262F;
  --footer-bg: #111118;
  --block-bg: #15171C;
  --card-bg: #15171C;
  --card-border: #23262F;
  
  /* Текстові кольори для темної теми */
  --theme-text: #FFFFFF; /* Білий текст для заголовків */
  --theme-icon-dim: #9CA3AF; /* Світло-сірий текст для опису */
}

body,
.MuiPaper-root:not(.MuiPopover-paper):not(.MuiAutocomplete-paper),
.MuiAppBar-root,
section {
  transition: background-color var(--theme-transition) ease,
              color var(--theme-transition) ease,
              border-color var(--theme-transition) ease !important;
}
body {
  background-color: var(--page-bg) !important;
  color: var(--theme-text);
  font-family: var(--font-inter);
}
